# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://raw.githubusercontent.com/GeoTurkey/GMT_COURSES/main/Salaries.csv) from GitHub! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [3]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [5]:
salaries_dataset = pd.read_csv("https://raw.githubusercontent.com/GeoTurkey/GMT_COURSES/main/Salaries.csv")

C:\Users\burka\AppData\Local\Temp\ipykernel_6432\3983166593.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  salaries_dataset = pd.read_csv("https://raw.githubusercontent.com/GeoTurkey/GMT_COURSES/main/Salaries.csv")

** Check the head of the DataFrame. **

In [6]:
salaries_dataset

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

** Use the .info() method to find out how many entries there are.**

In [7]:
salaries_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [15]:
path = 'https://raw.githubusercontent.com/GeoTurkey/GMT_COURSES/main/Salaries.csv'
df = pd.read_csv(path)
df['BasePay'] = pd.to_numeric(df['BasePay'], errors='coerce')
average_basepay = df['BasePay'].mean()

print(average_basepay)

66325.4488404877

C:\Users\burka\AppData\Local\Temp\ipykernel_6432\2769842128.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

** What is the highest amount of OvertimePay in the dataset ? **

In [31]:
df['OvertimePay'] = pd.to_numeric(df['OvertimePay'], errors='coerce')

highest_overtimepay = df['OvertimePay'].max()

highest_overtimepay

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [24]:
job_title = salaries_dataset[salaries_dataset['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle'].values[0]

print(job_title)

CAPTAIN, FIRE SUPPRESSION

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [28]:
joseph_totalpaybenefits = salaries_dataset[salaries_dataset['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'].values[0]

print(joseph_totalpaybenefits)

270324.91

** What is the name of highest paid person (including benefits)?**

In [35]:
highest_paid = df[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]
highest_paid

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [42]:
lowest_paid = df[df['TotalPayBenefits'] == df['TotalPayBenefits'].min()]
lowest_paid

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [45]:
df['BasePay'] = pd.to_numeric(df['BasePay'], errors='coerce')

filter_per_year = df[df['Year'].between(2011,2014)]

average_basepay = filter_per_year.groupby('Year')['BasePay'].mean()

average_basepay

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

2159

** What are the top 5 most common jobs? **

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

202

In [53]:
data_2013 = df[df['Year'] == 2013]
num_unique_jobtitles_2013 = data_2013['JobTitle'].value_counts()[data_2013['JobTitle'].value_counts() == 1]
jobtitles_occuring_one = len(num_unique_jobtitles_2013)
jobtitles_occuring_one

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

477

In [64]:
num_chief_in_job_title = df['JobTitle'].str.contains('Chief', case=True).sum()

num_chief_in_job_title

423

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [67]:
# Calculate the length of the JobTitle column
df['JobTitleLength'] = df['JobTitle'].apply(len)
correlation = df['JobTitleLength'].corr(df['TotalPayBenefits'], method='pearson')

correlation

-0.03687844593260676

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000