In [ ]:
import pandas as pd

In [ ]:
# create a dictionaries of titanic data. create 10 passengers with nnames, ages, sex and dead or not situation.
data = {
    'Name': ['Mr. Owen Harris Braund', 'Mrs. John Bradley (Florence Briggs Thayer) Cumings', 'Miss. Laina Heikkinen', 'Mrs. Jacques Heath (Lily May Peel) Futrelle', 'Mr. William Henry Allen', 'Mr. James Moran', 'Mr. Timothy J McCarthy', 'Master. Gosta Leonard Palsson', 'Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson', 'Mr. Anders Johan Andersson'],
    'Age': [22, 38, 26, 35, 35, 27, 54, 72, 27, 14],
    'cabin': ['C85', 'C123', 'E46', 'E46', 'E46', 'E46', 'E46', 'E46', 'E46', 'E46'],
    "male": [True, False, False, False, True, True, True, True, False, True],
    'dead': [False, False, True, False, True, True, True, True, False, False]
}

# create a DataFrame from the dictionary
df_titanic = pd.DataFrame(data)
df_titanic

In [ ]:
# Create a DataFrame from the dictionary of capital cities (Paris, Ankara, London, Rome, Wien and Cophenagen) with latitudes and longitudes and populations and area of city ins square kilometers.
cities = {
    'name': ['Paris', 'Ankara', 'London', 'Rome', 'Vienna', 'Cophenagen'],
    'latitude': [48.8566, 39.9334, 51.5074, 41.9028, 48.2082, 55.6761],
    'longitude': [2.3522, 32.8597, 0.1278, 12.4964, 16.3738, 12.5683],
    'population': [2206488, 5445026, 8982000, 2872800, 1897491, 1330993],
    'area_km2': [105.4, 24521, 1572, 1285, 414.6, 179.8]
}

df_cities = pd.DataFrame(cities)
df_cities

In [ ]:
df_cities["name"]

In [ ]:
df_titanic["Age"].max()

In [ ]:
df_cities.describe()

In [ ]:
titanic = pd.read_csv("data/titanic.csv")
titanic.head()

In [ ]:
print(titanic.shape)

In [ ]:
print(titanic.columns)

In [ ]:
titanic.head(9)

In [ ]:
titanic.dtypes

In [ ]:
titanic.to_excel("titanicdata.xlsx", sheet_name="passengers", index=False)

In [ ]:
titanic = pd.read_excel("titanicdata.xlsx", sheet_name="passengers")

In [ ]:
titanic.head()

In [ ]:
titanic.info()

In [ ]:
ages = titanic["Age"]

In [ ]:
type(titanic["Age"])

In [ ]:
titanic["Age"].shape

In [ ]:
titanic[["Age","Pclass"]]

In [ ]:
titanic[["Age","Pclass"]].shape

In [ ]:
# extract age above 35

a = titanic["Age"]>35
titanic[a]

In [ ]:
b = titanic["Pclass"].isin([2,3])
titanic[b]

In [ ]:
class_23 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]

class_23

In [ ]:
age_no_na = titanic[titanic["Age"].notna()]
age_no_na

In [ ]:
adult_names = titanic.loc[titanic["Age"] > 35, "Name"]
adult_names

In [ ]:
# Iâ€™m interested in rows 10 till 25 and columns 3 to 5.
titanic.iloc[9:25, 2:5]

When selecting specific rows and/or columns with loc or iloc, new values can be assigned to the selected data. For example, to assign the name anonymous to the first 3 elements of the fourth column:

In [ ]:
titanic.iloc[0:3, 3] = "anonymous"

In [ ]:
titanic

## Pandas Plot

In [ ]:
import pandas as pd

import matplotlib.pyplot as plt

In [ ]:
path = "https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/air_quality_no2.csv"

air_quality = pd.read_csv(path, index_col=0, parse_dates=True)
air_quality

In [ ]:
air_quality.plot()

In [ ]:
air_quality["station_paris"].plot()

In [ ]:
air_quality.plot.box()

In [ ]:
axs = air_quality.plot.area(figsize=(12, 4), subplots=True)
plt.show()

In [ ]:
df_cities

In [ ]:
# calculate people per square kilometer
df_cities["pop_density"] = df_cities["population"] / df_cities["area_km2"]
df_cities

In [ ]:
geomatics_building = [39.86616861395125, 32.734204925757155] # latitude, longitude

# create a haversine function to calculate the distance between df_cities and geomatics_building
from math import radians, sin, cos, sqrt, atan2

def haversine(lat1, lon1, lat2, lon2):
    R = 6371.0
    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = R * c
    return distance

# apply the haversine function to the df_cities DataFrame
df_cities["distance_km"] = df_cities.apply(lambda df: haversine(geomatics_building[0], geomatics_building[1], df["latitude"], df["longitude"]), axis=1)
df_cities

In [ ]:
# How to calculate summary statistics

# calculate the mean of the population and the area of the cities
df_cities[["population", "area_km2"]].mean()

In [ ]:
# What is the average age of the Titanic passengers?
titanic["Age"].mean()

In [ ]:
# What is the average age for male versus female Titanic passengers?
titanic[["Sex","Age"]].groupby("Sex").mean()

In [ ]:
# Count number of records by category
titanic["Pclass"].value_counts()

In [ ]:
df_earthquakes = pd.read_csv("data/earthquakes_1900_2024.csv", sep=",")
df_earthquakes.head()

In [ ]:
df_earthquakes.info()

In [ ]:
a = (df_earthquakes["Mag"] > 8.0) & (df_earthquakes["Year"] > 2000)
df_earthquakes_8 =  df_earthquakes[a][["Year","Mag","Location Name","Latitude","Longitude"]] 
df_earthquakes_8

In [ ]:
# plot the earthquakes on a scatter map with lat on y and long on x add borders
import matplotlib.pyplot as plt
plt.scatter(df_earthquakes_8["Longitude"], df_earthquakes_8["Latitude"], s=20, alpha=0.5)
plt.xlabel("Longitude")
plt.ylabel("Latitude")
plt.title("Earthquakes above 8 magnitude after 2000")
plt.grid(True)
plt.show()